@font-face {
  font-family: "iconfont"; /* Project id 3685303 */
  src: url('../fonts/iconfont.woff2') format('woff2'),
       url('../fonts/iconfont.woff') format('woff'),
       url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shangchuanwenjian:before {
  content: "\e602";
}

.icon-xiazaidigao:before {
  content: "\e603";
}

